*{
    background-color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
#canvas{
    position: absolute;
}
#navContainer{
    position: absolute;
    background-color: transparent;
    display: flex;
    gap: 10px;
}
#scaling{
    cursor: pointer;
}
#add{
    cursor: pointer;
    width: 54px;
    height: 54px;
    background-color: transparent;
}

.addFigure{
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: white;
}